name: coral-reef-classification
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - pillow
  - jupyterlab
  - ipykernel
  - tqdm
  - pip
  - pip:
      - torch
      - torchvision
      - torchaudio
      - timm
      - boto3
